<div class="container full-height-grow">


<header class="main-header">
    <a href="/" class="brand-logo">
      <img src="assets/boosterlogo.png" alt="logo boosterfestival" style="width: 50px;"/>
      <div class="brand-logo-name">
        Booster Festival
      </div>
       
    </a>
    <nav class="main-nav">
      <ul>
        <li>
          <a href="https://twitter.com/BoosterFestival" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/boosterfestival/" target="_blank"> Instagram </a>
            
        </li>
        <li>
          <a href="https://boosterfestival.nl/showcasefestival-2/"  target="_blank">Booster Festival</a>
      </li>
    </ul>
  </nav>
  </header>
  <h2 *ngIf="selectedStream">Now Paying: {{selectedStream.streamName}}</h2>
  
  <section class="main-section" *ngIf="selectedStream">

    <div class="main-section-header">
     
     
    </div>
    <div class="main-section-content">
    <app-video [stream] ="selectedStream">

    </app-video>
  </div>

  </section>


  <section class="footer-section" *ngIf="boosterdata">
    <div *ngFor="let stream of GetBoosterData(); index as i; " >
        <div class="streambox" *ngIf="!stream.IsSelected" (click)="ChangeSelection(stream)" >
          <h3>Online {{stream.streamName}}</h3>
          <img src="assets/tv_booster_2.svg" width="350px"/>
        </div>
    </div>
  </section>
</div>