/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Roboto&display=swap');


*, *::before , *::after
{

  box-sizing: border-box;
  

}


body {

  margin: 0;
  padding: 0;
  background-color: #009df6;
  font-family: Roboto,Poppins, 'Open Sans',   sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
  

}


.full-height-grow{
  
  display: flex;
  flex-direction: column;


}

.vjs-default-skin.vjs-paused .vjs-big-play-button 
{
   /* Remove default play button :-) */
  display: none;
}