
<div id="sidebar">
    <nav class="navbar">
        <span class="open-slide" >
            <div>
            <a [routerLink]="" (click)="toggleMenu()" >
                <svg width="30" height ="30">
                    <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
                    <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
                    <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
                </svg>
            </a>
        </div>
        </span>
        <ul class="navbar-nav">
          
           
            <li><a href ="https://www.facebook.com/boosterfestival" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/boosterfestival/" target="_blank">Instagram</a></li>
            <li><a href="https://Chats.google.com/group/AavPQMmu761tqUSc7" target="_blank">Chat East</a></li>
            <li><a href="https://Chats.google.com/group/eJy4my1Yd6WjKjX49" target="_blank">Chat South</a></li>
            <li><a href="https://Chats.google.com/group/nrHV2xnxxu4WGPAJA" target="_blank">Chat West</a></li>
            <li><a href="https://Chats.google.com/group/5rSYcobbHMQwif8LA" target="_blank">Chat North</a></li>
            <li><a href="https://www.facebook.com/737183150002221/posts/1062062504180949" target="_blank">Poppunt GLD Borrel </a></li>
            <li><a href="https://www.youtube.com/channel/UChgNA5gwYotMu0dBus73THQ?view_as=subscriber" target="_blank">NEW Live stream </a></li>
            <li><a href="https://boosterfestival.nl/blokkenschema/" target="blank" >Blokkenschema</a></li>

            <img src="assets/boosterlogo.png"  alt="logo boosterfestival" style="width: 50px;"/>
          
            
        </ul>
    </nav>
    <div id="sidemenu" [ngClass]="showSideMenu ? 'side-nav' : 'side-nav-passive'">
        <div id="wrapper" *ngIf="showSideMenu">
            <a [routerLink]="" class="btn-close" (click)="toggleMenu()">&times;</a>
            <div *ngFor="let stream of streams ">
               
                <div class="streamboxsmall"  (click)="selectStream(stream)" >
                   
                    <img src="../../assets/sidemenu/{{stream.streamName}}-250.jpg" width="238px"/>
                  
                  </div>
            </div>
            
           
        </div>
        
           
       
    </div>
    <div id="main" class="main">
        <router-outlet></router-outlet>
        <section class="timetable" *ngIf="selectedStream">
            
            <img src="../../assets/{{selectedStream.streamName}}-timetable.jpg"   >
          
          </section>
    </div>
   
            <app-chat></app-chat>
        
    
   
</div>